.gradient-background {
    background: linear-gradient(300deg, #00bfff, hsl(224, 89%, 38%), #17ffe0);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  
  .profile-img {
    height: 100px;
    border-radius: 50%;
  }
  #title{
    color: white;
  }
  .checkbutton{
    height: 20px;
    margin-right: 5%;
    color: white;
  }
  